<article class='aboutMe'>
    <section class='aboutMe__title'>
        <img class='aboutMe__fotoOfMe' src='img/me.jpg' alt = '{{lastName}} {{firstName}}'>
        <h1 class='aboutMe__myName'>
            Стани&shy;слав
            <br>
            <span class='highlightOrange'>{{lastName}}</span>.
        </h1>
    </section>

    <section class='aboutMe__text'>
        <p class='aboutMe__hi'>
            Привет, я <span class='highlightBlue'>junior frontend-developer</span> из России.
            <br>
            Готов присоединиться к вашей команде разработчиков.
        </p>
        <div class='aboutMe__other'>
            <p class='aboutMe__text-item'>Верстаю адаптивные странички и знаю ширину экрана iPhone 4 в пикселях.</p>
            <p class='aboutMe__text-item'>Владею JavaScript, знаю что такое замыкание и почему 0,1 + 0,2 &ne; 0,3.</p>
            <p class='aboutMe__text-item'>Есть опыт работы во VueJS, но освою любой нужный фреймворк.</p>
            <p class='aboutMe__text-item'><a class='highlightBlue underline' href='mailto:{{mail}}'>{{mail}}</a>,</p>
            <p class='aboutMe__text-item'><a class='highlightBlue underline telNum'>{{phone}}</a>.</p>
        </div>

    </section>
    <div class='aboutMe__arrow' >
            <svg viewBox='0 0 53 29' fill='none' xmlns='http://www.w3.org/2000/svg' class='scroll' data-target = 'recentWorks'>
                <path d='M26.5931 26.6535L25.5324 27.7142L26.5931 28.7749L27.6538 27.7142L26.5931 26.6535ZM2.90734 0.846444C2.32155 0.260658 1.37181 0.260658 0.78602 0.846444C0.200233 1.43223 0.200233 2.38198 0.78602 2.96776L2.90734 0.846444ZM50.2788 0.846446L25.5324 25.5929L27.6538 27.7142L52.4001 2.96776L50.2788 0.846446ZM27.6538 25.5929L2.90734 0.846444L0.78602 2.96776L25.5324 27.7142L27.6538 25.5929Z' fill='#ADADB9'/>
            </svg>
    </div>
</article>
