<div class='footer__wrap'>
    <footer class='footer'>
        <section class='footer__aboutMe'>
            <p class='footer__myName'>
                {{firstName}} {{lastName}}
            </p>
            <p class='footer__text'>
               Я frontend-developer.
                <br>
                Готов присоединиться к вашей команде разработчиков.
            </p>
        </section>

        <section class='footer__menu'>
            <div class='footer__title-menu'>
                Меню
            </div>
            <nav class='footer__menu-items menu'>
                <a class='menu__item_footer scroll pointer' data-target='aboutMe'>
                    Обо мне
                </a>
                <a class='menu__item_footer scroll pointer' data-target='recentWorks'>
                    Работы
                </a>
                <a class='menu__item_footer scroll pointer' data-target='git'>
                    Гит-репозитории
                </a>
            </nav>
        </section>
        
        <section class='footer__contact'>
            <div class='footer__title-contact'>
                Контакты
            </div>

            <ul class='footer__contactData'>
                <li class='footer__contact-item' href='mailto:{{mail}}'>{{mail}}</li>
            </ul>

            <div class='footer__social'>
                {{> social}}
            </div>
        </section>
    </footer>
</div> 

