<article class='git achievement'>
    <section class='git__intro achievement__intro'>
        <h2 class='achievement__intro-title'>Мои гит-репозитории</h2>
        <p class='achievement__intro-text'>Когда вы открыли эту страничку скрипт запросил актуальные данные через API github.com и сгенерировал список репозиториев.</p>
    </section>

    <section class='achievement__main'>
        <ul class='achievement__list git__list'>
        </ul>
        <nav class='paginator'>
            <span class='paginator__item hidden'></span>
        </nav>
    </section>
    {{> preloaders/preloader_git}}
</article>
