<article class='hireMe'>
    <h2 class='hireMe__title'>Открыт к предложениям</h2>
    <div class='hireMe__text-wrap'>
        <p class='hireMe__text'>Вы ищите увлечённого веб-разработчика для участия в вашем проекте?</p>
        <p class='hireMe__text'>Буду рад присоединиться к вашей команде.
        <br>
        Я пишу на нативном JavaScript, 
        имею небольшой опыт в React и Angular. Готов изучить новые технологии, которые требуются для проекта.</p>
    </div>
    <a class='hireMe__mail' href='mailto:{{mail}}'>{{mail}}</a>
</article>