<article class='hireMe'>
    <h2 class='hireMe__title'>Открыт к предложениям</h2>
    <div class='hireMe__text-wrap'>
        <p class='hireMe__text'>Буду рад присоединиться к вашей команде.
        <br>
        Я пишу на нативном JavaScript и Vue3. Готов изучить новые технологии, которые требуются для проекта.</p>
    </div>
    <a class='hireMe__mail' href='mailto:{{mail}}'><p>{{mail}}</p></a>
    <a class='hireMe__mail' href='https://syktyvkar.hh.ru/resume/015e3512ff0119e6480039ed1f334d4b556c32' target='_blank'><p>Резюме на hh.ru</p></a>
    <a class='hireMe__mail' href='https://www.linkedin.com/in/stanislav-okulov-613ab410a/' target='_blank'><p>Страничка на linkedin</p></a>
    <a class='hireMe__mail' href='https://career.habr.com/stasokulov1' target='_blank'><p>Аккаунт на хабр</p></a>
</article>
