<article class='recentWorks'>

    <section class='recentWorks__title'>    
        <h2 class='recentWorks__title-main title-page'>Последние работы</h2>
        <div class='recentWorks__title-side'>Смотреть все</div>
        <div class='recentWorks__title-side hidden'>Закрыть</div>
    </section>

    <section class='recentWorks__example'>

        <div class='recentWorks__item-wrap-width'>
            <div class='recentWorks__item-wrap-height'>
                <a class='recentWorks__item link' href='https://stasokulov.github.io/' target='blank'>
                    <div class='recentWorks__item-title'>
                        Tesla Landing Page
                    </div>
                    <div class='recentWorks__item-footer'>
                        Адаптивный лендинг
                    </div>
                    <div class='recentWorks__item-image recentWorks__tesla'>
                    </div>
                </a>
            </div>
        </div>
        
        <div class='recentWorks__item-wrap-width'>
            <div class='recentWorks__item-wrap-height'>
                <a class='recentWorks__item link' href='https://stasokulov.github.io/catch-the-mouse/' target='blank'>
                    <div class='recentWorks__item-title'>
                        Поймай мышь
                    </div>
                    <div class='recentWorks__item-footer'>
                        Браузерная игра на JavaScript
                    </div>
                    <div class='recentWorks__item-image recentWorks__mouse'>
                    </div>
                </a>
            </div>
        </div>

        <div class='recentWorks__item-wrap-width hidden'>
            <div class='recentWorks__item-wrap-height'>
                <a class='recentWorks__item link' href='https://stasokulov.github.io/landing_trucking_company/' target='blank'>
                    <div class='recentWorks__item-title'>
                        Домашний переезд
                    </div>
                    <div class='recentWorks__item-footer'>
                        Адаптивный лендинг с использованием AJAX
                    </div>
                    <div class='recentWorks__item-image recentWorks__trucking'>
                    </div>
                </a>
            </div>
        </div>

        <div class='recentWorks__item-wrap-width hidden'>
            <div class='recentWorks__item-wrap-height'>
                <a class='recentWorks__item link' href='https://stasokulov.github.io/news_quest/' target='blank'>
                    <div class='recentWorks__item-title'>
                        Тест для сайта новостей
                    </div>
                    <div class='recentWorks__item-footer'>
                        Работает без перезагрузки страницы. Выводит разный итог в зависимости от количества правильных ответов.
                    </div>
                    <div class='recentWorks__item-image recentWorks__news-quest'>
                    </div>
                </a>
            </div>
        </div>

    </section>

</article>