<article class='skills achievement'>
    <section class='skills__intro achievement__intro'>
        <h2 class='achievement__intro-title'>Навыки</h2>
        <p class='achievement__intro-text'>У меня есть опыт удаленной работы в распределенной команде. Владею такими инструментами:</p>
    </section>

    <section class='achievement__main'>
        <ul class='achievement__list'>
            <li class='skills__item'>
                <div class='skills__item-innerWrap'>
                    <p class='skills__item-title'>HTML5</p>
                    <p class='skills__item-text'>
                        Новые теги HTML5 помогают облегчить и ускорить верстку, а, также,
                        улучшить семантическую структуру страницы.
                    </p>
                </div>
            </li>
            <li class='skills__item'>
                <div class='skills__item-innerWrap'>
                    <p class='skills__item-title'>CSS</p>
                    <p class='skills__item-text'>
                        Владею адаптивной версткой, что позволяет корректно отображать сайты на экранах различных
                        устройств разной ширины. Использую БЭМ-нейминг, что позволяет легче (а, значит, быстрее и
                        дешевле) поддерживать проекты.
                    </p>
                </div>
            </li>
            <li class='skills__item'>
                <div class='skills__item-innerWrap'>
                    <p class='skills__item-title'>JavaScript</p>
                    <p class='skills__item-text'>
                        Пишу на нативном JS. Знаю и использую стандарт ES6. Знаком с фреймворками VueJS и, немного, с React и Angular.
                    </p>
                </div>
            </li>
            <li class='skills__item'>
                <div class='skills__item-innerWrap'>
                    <p class='skills__item-title'>Препроцессоры, шаблонизаторы и прочее окружение</p>
                    <p class='skills__item-text'>
                        Использую Node.js и npm для развертывания сборщика проектов Gulp.
                        Использую: HTML-шаблонизатор Mustache; пакеты PostCSS - для ускорения работы со стилями.
                    </p>
                </div>
            </li>
            <li class='skills__item'>
                <div class='skills__item-innerWrap'>
                    <p class='skills__item-title'>Agile</p>
                    <p class='skills__item-text'>
                        Работал в команде с ежедневными скрамами, недельными спринтами, канбан-доской и чек-листами.
                        Понимаю и принимаю этот подход.
                    </p>
                </div>
            </li>
        </ul>
    </section>
</article>
