<menu class='social'>
    <a href = 'https://github.com/stasokulov' target='blank'>
        <div class='social__git social__item'></div>
    </a>
    <a href = 'https://www.linkedin.com/in/stanislav-okulov-613ab410a/' target = blank>
        <div class='social__in social__item'></div>
    </a>
</menu>