<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <meta property='og:title' content='Stanislav Okulov, frontend Developer'>
    <meta property='og:url' content='https://stasokulov.github.io/frontend-Developer/' />
    <meta property='og:image' content='http://stasokulov.github.io/frontend-Developer/img/me.jpg' />
    <meta property='og:image:width' content='230' />
    <meta property='og:image:height' content='230' />
    <meta property='og:image:alt' content='Stanislav Okulov, frontend Developer' />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Stanislav Okulov, frontend deweloper</title>
    <link rel='stylesheet' href='style.min.css' type='text/css'>
</head>
<body>
    <div class='wrapper'>
        {{> templates/header}}
        <main>
            {{> templates/aboutMe}}
            {{> templates/recentWorks}}
            {{> templates/skills}}
            {{> templates/git}}
            {{> templates/hireMe}}
        </main>
    </div>
    {{> templates/footer}}
    {{> templates/preloaders/preloader_global}}

    <script src='script.min.js' async></script>
</body>
</html>
